Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
libkeynote.spec
libkeynote-zip
libkeynote-*.tar.*
ltmain.sh
m4
# FIXME: this does not work; I must be doing something wrong...
!m4/ax_*.m4
missing
mkinstalldirs
stamp-h1
test-driver
*.pc
*.rc
*~
