Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
libetonyek.spec
libetonyek-zip
libetonyek-*.tar.*
ltmain.sh
m4
missing
mkinstalldirs
stamp-h1
tags
test-driver
*.pc
*.rc
*~
