[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
	state = active
	description = Library for import of Apple Keynote presentations.
[access]
	inheritFrom = Dev-ACL-Template
[access "refs/heads/*"]
	owner = group libetonyek-admins
[access "refs/*"]
	read = group ReplicateFDO
	read = group ReplicateGithub
	read = group ReplicateGitorious
